.headerBg {
  background-color: #222 !important;
  padding: 50px;
}

.logoText {
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}

.logoCircle {
  width: 44px;
  height: 44px;
  line-height: 44px;
  background-color: #007ced;
  border-radius: 100px;
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  margin-right: 10px;
  margin-top: 4px;
}
